/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f6f7fb;
  color: #333;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  background-color: #004aad;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover,
.nav-links a.active {
  text-decoration: underline;
}


.dashboard-header {
  text-align: center;
  padding: 40px 20px 20px;
}

.dashboard-header h1 {
  font-size: 2rem;
  color: #93accc;
}

.dashboard-header p {
  color: #555;
  margin-top: 5px;
}

/* Search & Filter */
.filter-section {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

.filter-section input,
.filter-section select {
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 250px;
}

/* Table */
.table-section {
  width: 90%;
  margin: 0 auto 50px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #004aad;
  color: white;
}

th, td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}


.status {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
}

.status.pending {
  background-color: #fff3cd;
  color: #856404;
}

.status.approved {
  background-color: #d4edda;
  color: #155724;
}

/* Buttons */
.approve-btn, .delete-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
}

.approve-btn {
  background-color: #28a745;
  color: white;
}

.approve-btn:hover {
  background-color: #218838;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
}

.delete-btn:hover {
  background-color: #c82333;
}

/* Footer */
.footer {
  background-color: #004aad;
  color: white;
  text-align: center;
  padding: 15px 0;
}
